h1 {
    color: red;
}

a {
    color: blue;
    font-size: 20px;
}

a:hover {
    color: hwb(75 43% 15%);
}

.abc {
    color: aqua;
    text-shadow: 2px 3px crimson;
}

.bg {
    background-color: #d6c1b3;
}

.bgimg {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-x;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #6b2db8;
}

.bg-white{
    color: hsl(123, 85%, 33%);
}

.border{
    border:  5px lime solid;
    border-radius: 20px;
    color: coral;
    padding: 50px 10px;
}

.f18{
    font-size: 18px;
}